<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Instructor</title>
</head>
<body>
    <h1>Insert a New Instructor</h1>
    <form method="post">
        <label for="InstructorId">Instructor ID:</label><br>
        <input type="text" id="InstructorId" name="InstructorId"><br><br>
        <label for="FName">First Name:</label><br>
        <input type="text" id="FName" name="FName"><br><br>
        <label for="LName">Last Name:</label><br>
        <input type="text" id="LName" name="LName"><br><br>
        <label for="StartDate">Start Date:</label><br>
        <input type="date" id="StartDate" name="StartDate"><br><br>
        <label for="Degree">Degree:</label><br>
        <input type="text" id="Degree" name="Degree"><br><br>
        <label for="Rank">Rank:</label><br>
        <input type="text" id="Rank" name="Rank"><br><br>
        <label for="Type">Type:</label><br>
        <input type="text" id="Type" name="Type"><br><br>
        <input type="submit" value="Insert">
    </form>
</body>
</html>
